@model IEnumerable<Persona>;
@{
    ViewData["Title"] = "Eliminar";
}
<div class="m-0 row justify-content-center align-items-center">
    <div class="col-auto text-center">
        <h1 class="bi bi-database-check">Lectura de Registro</h1>
    </div>
</div>

<table class="table table-dark table-hover" id="elim">
    <thead>
        <tr>
            <th scope="col">DPI</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Fecha de Nacimiento</th>
            <th scope="col">Edad</th>
            <th scope="col">Profesion</th>
            <th scope="col">Telefono</th>
        </tr>
     </thead>
     <tbody>

         @foreach (var item in Model)
                {
            <tr data-selected="0">
                <td class="dpi-cell" >@item.dpi</td>
                 <td>@item.Nombre</td>
                 <td>@item.Apellido</td>
                 <td>@item.FechaNacimiento.ToString("dd-MM-yyyy")</td>
                 <td>@item.Edad</td>
                 <td>@item.Profesion</td>
                 <td>@item.Telefono</td>
            </tr>
                }
     </tbody>
 </table>

@section Scripts {

 <script src="~/js/vistas/readData.js" asp-append-version="true"></script>
}